{% include "engine/show_user.html" %}

{% include "engine/sidebar.html" %}

<div style="margin-top:10px;margin-left:70px;float:left;height:100px;width:600px;">
	<h1>Please rate the purchased product.</h1><br/>
	<h2>{{ book.name }}</h2>
	<form method="post" action="/users/{{user.id}}/books/{{book.id}}/rating">
	{% csrf_token %}
		<select name="user_rating">
		 {% for i in loop_times %}
		 	 <option value={{ i }}>{{ i }}</option>
		 {% endfor %}
		</select>
		<input type="submit" value="Submit"/>
	</form>
</div>